/* html {
    margin: 0;
    min-height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
} */

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    display: grid;
    grid-template-rows: repeat(1, 90px);
    grid-template-columns: repeat(4, 75px);
    grid-template-areas: 
        "screen screen screen screen"
        "add sub div mul"
        "7 8 9 sign"
        "n n n clear"
        "n n n equals";
    width: auto;
    height: 400px;
    /* gap: 0.5rem; */
    margin: auto;
    border: 5px solid black;
}
div .grid-item {
    display: grid;
    justify-content: center;
    align-items: center;
}

.item-a {
    grid-area: screen;
    background-color: red;
}
.numbers {
    background-color: #d2d3c9;
    border: 1px solid #000000;
    font-size: 25px;
    color: #000000;
}
.operators {
    background-color: #0e918c;
    border: 1px solid #000000;
    color: #d2d3c9;
    font-size: 40px;
}

.equals {
    background-color: #0e918c;
    border: 1px solid black;
    font-size: 40px;
}
.screen {
    grid-area: screen;
    display: flex;
    padding-top: 10px;
    justify-content: flex-end;
    background-color: #f6830f;
    /* text-align: right; */
    overflow: hidden;
    /* border: 2px solid black; */
    border-bottom: 5px solid black;
    font-size: 70px;
}


div button {
background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
div button:hover {
    background-color: #f6830f;
}